@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@700&display=swap');
.ab1{
    margin-left: 120px;
    margin-top: 10px;
    border-radius: 80%;
    
    width: 400px;
      
}
.at{
  text-align: center;
  font-weight: bold;
  padding-top: 70px;
}
.at1{
  text-align: center;
  font-weight: 800;
}
.au{
  
  /* font-family: 'Dancing Script', cursive; */
  /* margin-top: 75px; */
  width: 560px;
  font-weight:600;
  /* text-align: center; */

}
.le{
  padding-left: 80px;
}

     
    